Package: usb-guardian
Priority: optional
Section: usr/local
Maintainer: Pablo Izquierdo
Architecture: all
Version: 1.0
Replaces:
Depends:
Description: Packet deb for usb-guardian
 It is a bash script and udev rules for unable usb devices and detect its drives to show if they really are flash memory device or a malicious usb flash memory.
