
[Unit]
Before=networking.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/usr/local/sbin/usbguardian/
ExecStart=/usr/bin/python3 driverGpio.py all 1

[Install]
WantedBy=multi-user.target
